%section.titles.flex.flex-col
  %h1.text-amber-600.text-center.text-3xl Bitcoin data
  %small.text-center.text-lg.mt-3.text-slate-600 Consult and save bitcoin blockhash

%section.form.mt-10.flex.content-center.justify-center
  %form{data: { controller: 'form', "form-change-class": "is-invalid", "form-url": '/blockchains'} }
    %label.mb-2.text-sm.font-medium.text-gray-900.sr-only.dark:text-gray-300{for: 'blockchain_hash'} Insert blockchain hash
    .relative
      %input#blockchain_hash.block.p-4.pl-10.w-full.text-sm.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300.focus:ring-amber-500.focus:border-amber-500.dark:bg-gray-700.dark:border-gray-600.dark:placeholder-gray-400.dark:text-white.dark:focus:ring-blue-500.dark:focus:border-blue-500{type: "text", "data-target": "hash", placeholder: "Insert blockchain hash", required: true, pattern:  /[a-zA-Z0-9-]+/, "data-form-target": "input"}
      %button.bg-amber-900.text-white.hover:bg-amber-700.absolute.right-2.5.bottom-2.5.focus:ring-4.focus:outline-none.focus:ring-amber-900.font-medium.rounded-lg.text-sm.px-4.py-2.dark:bg-blue-600.dark:hover:bg-blue-700.dark:focus:ring-blue-800{type: 'submit', "data-action": "click->form#submit"} Add hash
    %small.text-green-900{"data-form-target": 'successMessage'}
    %small.text-red-900{"data-form-target": 'errorMessage'}
%hr.my-8

%section.flex.justify-center
  = turbo_stream_from 'blockchains'
  = turbo_frame_tag "blockchains" do
    = render partial: "blockchain", collection: @blockchains
    = render partial: 'next_page'