/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --red-50: #fef2f2;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --red-900: #7f1d1d;
  --green-900: #14532d;
 }

 #blockchain_hash {
  width: 90vw;
 }

 .is-invalid {
  background-color: var(--red-50);
  border-color: 5px solid var(--red-500);
  color: var(--red-900);
 }

 .is-invalid::placeholder {
  color: var(--red-700);
 }

 .is-invalid:focus {
  border: 1px solid var(--red-500);
  outline-style: var(--red-500);
 }

 .dropdown .container {
   overflow: hidden;
   width: 60vw;
 }

 .dropdown-content {
  display: none;
  background-color: #f9f9f9;
  width: 90vw;
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
}

@media (min-width: 900px) {
  #blockchain_hash {
    width: calc(50vw - 10rem);
   }

   .dropdown .container {
    width: calc(42vw - 10rem);
   }

   .dropdown-content {
    width: calc(53vw - 10rem);
   }
}

.dropdown-content li p {
  word-break: break-all;
}

.showDropdown {
  display: block;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

.font-bold {
  font-weight: 700;
}